repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout

  - repo: local
    hooks:
      - id: nbautoexport
        name: nbautoexport (script)
        entry: nbautoexport export  notebooks
        language: system
        pass_filenames: false
